.container{
    margin: 30px;
    width: 90%;
    background-color: rgb(243, 242, 205);
}

.menu{
    margin: auto;
    background: rgb(134, 255, 150);
    width: 50%;
}

.grid2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.modal{
    display: none;
}
.grid{
    display: grid;
    grid-template-columns: auto;
    margin: 30px;
}